<div id="<%= dom_id repairman %>">
  <p>
    <strong>First name:</strong>
    <%= repairman.first_name %>
  </p>

  <p>
    <strong>Second name:</strong>
    <%= repairman.second_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= repairman.email %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= repairman.location %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= repairman.password %>
  </p>

  <p>
    <strong>Password confirmation:</strong>
    <%= repairman.password_confirmation %>
  </p>

  <p>
    <strong>Terms:</strong>
    <%= repairman.terms %>
  </p>

</div>
